div {
    margin: 0px;
    padding: 0px;
    border: 0px none;
}

.feed_list {
    float: left;
    max-width: 200px;
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
}

.feed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: rgb(138, 150, 156);
}

.feed a:visited {
    color: #A6A6CF;
}

.feed a:hover {
    color: #CC3300;
}

#entries {
    float: left;
    max-width: 800px;
    margin-left: 20px;
}

.entry {
    margin-bottom: 10px;
}

.unread {
    background-color: #F0F0F0;
}

.read {
    background-color: #FFFFFF;
}

.entry_title {
    display: block;
    margin-bottom: 5px;
    color: brown;
    text-decoration: none;
}

.entry_title:hover {
    color: red;
}

.add_feed_form {
    margin-bottom: 10px;
}

.add_feed_form input {
    margin: 5px;
}

#active_entry {
    float: left;
}
