div {
    margin: 0px;
    padding: 0px;
    border: 0px none;
}

.feed-list {
    overflow-y: scroll;
    max-height: 500px;
}

.feed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: rgb(138, 150, 156);
}

.feed a:visited {
    color: #A6A6CF;
}

.feed a:hover {
    color: #CC3300;
}

.entry-list {
    margin: 20px;
    overflow-y: scroll;
    max-height: 300px;
}

.entry {
    margin-bottom: 10px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.unread {
    background-color: #F0F0F0;
}

.read {
    background-color: #FFFFFF;
}

.entry-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.entry_title:hover {
    color: red;
}

.add_feed_form {
    margin-bottom: 10px;
}

.add_feed_form input {
    margin: 5px;
}

#active_entry {
    float: left;
}
