<!doctype html>
<head>
  <title>Login</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='login.css') }}">
</head>
{% block body %}
<div class="container">

  <form method="POST" class="form-signin" action="/login">
    {{ form.csrf_token }}
    <h2 class="form-signin-heading">Please login.</h2>
    {{ form.name.label(class_="sr-only") }}
    {{ form.name(class_="form-control", size=20) }}
    {{ form.password.label(class_="sr-only") }}
    {{ form.password(class="form-control", size=20) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>

</div> <!-- /container -->
{% endblock %}
