@import 'variables';

.feed-list {
  background-color: $white;
  border-radius: $s1;
  box-shadow: $bs-medium;
  color: $text-color;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 20px;
  max-height: 500px;
  padding: 5px;
}

.list-item {
  background-color: inherit;
  border: 0;
  flex-shrink: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: $s1;
  text-align: left;

  &:hover {
    color: $blue;
  }
}

