<!doctype html>
<head>
  <title>Feeds</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
{% block body %}
<div id="wrapper">
  <div id="header">
    {% if feed %}
    <a href="{{ url_for('feed_view.refresh', feed_id=feed.id) }}" id="refresh">Refresh!</a>
    {% else %}
    <em>Click a feed</em>
    {% endif %}
  </div>
  <div id="container">

    <div id="feeds">
      <ul class="feed_list">
        {% for feed in feeds %}
        <li class="feed" id="{{ feed.id }}"> <a href="{{ url_for('feed_view.show_entries', feed_id=feed.id) }}" id="{{ feed.id }}" class="feed" title="{{ feed.title }}">{{ feed.title }}</a></li>
        {% else %}
        <li><em>No feeds!</em></li>
        {% endfor %}
      </ul>
    </div>

    <div id="entries_container">
      {% if feed %}
      <div id="entries" feed_id="{{ feed.id }}">
      {% else %}
      <div id="entries">
      {% endif %}
      {% for entry in entries %}
      <div id="{{ entry.entry_id }}" class="entry">
        <a href="{{ entry.url }}">{{ entry.title }}</a>
        <p>{{ entry.text }}</p>
      </div>
      {% endfor %}
      </div>

  </div>
  </div>
</div>
{% endblock %}
